
<%- include("header"); -%>

<h1>Simple todo-list</h1>
<p>Click the plus button to add a task, and when you are done, click the check-box to cross out completed tasks</p>

<%- include("footer"); -%>